src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="4d7c16a0-2d95-4cfe-aa49-f5a68287dc80" />
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="5b604197-9883-4071-ab6a-05c580a798f4" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="51e21cde-cd4a-465e-a61d-f47d853871b4" >
		<http:listener doc:name="Listener" doc:id="685a0809-8c97-4050-91dc-2bef546aaa0b" path="/abc" config-ref="HTTP_Listener_config1"/>
		<ee:transform doc:name="Transform Message" doc:id="83da40e3-7a01-4a9f-a64a-a5cb4e1349c4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	card: {
		Bridename: payload.name,
		Groomname: payload.value,
		commonname: payload.Surname,
		AuspiciousDay: payload.Age
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a160f6dc-ea07-4d44-b893-27b2a4e8c9ae" message="#[payload]"/>
	</flow>
</mule>
